<% include partials/pageopen.ejs %>


<h1>Welcome!</h1>
<% if (user) { %>
<h2>Logged in</h2>
<% } else { %>
<h2>Logged out</h2>
<% } %>
<p><a href="/contact">Contacts</a></p>


<% include partials/pageclose.ejs %>