<% include partials/pageopen.ejs %>


<!-- <h1>Welcome to EventSet!</h1>
<% if (user) { %>
<h2>You are logged in</h2>
<% } else { %>
<h2>Logged out</h2>
<% } %>
<p><a href="/contact">Contacts</a></p> -->



<div class="jumbotron gradient" style="height: 600vh; border-radius: 0em;">
    <h1 class="display-4 h1">Welcome to EventSet!</h1>
    <% if (user) { %>
    <p class="lead">You are now logged in.</p>
    <% } else { %>
    <p class="lead">You are logged out.</p><% } %>
    <p>You currently have no events scheduled</p>
    <p><ul><li>This could be the first event but not indented So fun!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1</li></ul></p>
    <hr class="my-4" id="jumbo-line">
</div>


<% include partials/pageclose.ejs %>